<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <!--
    WCF Service configuration
    -) Custom binding element extension registered for Soap-with-Attachments
    -) Recommendation: use separate endpoint configurations for functions on the same proxy
                       that rely on SWA and that do not rely on SWA so that if you don't need
                       SWA you can use the default-WCF-encoders
  -->
  <system.serviceModel>
    <extensions>
      <bindingElementExtensions>
        <!--
        SOAP-With-Attachments custom encoder with custom mime parsing sample
        You need to perform this configuration manually after you have added a 
        Service Reference with Visual Studio or svcutil.exe from the .NET Framework SDK!
      -->
        <add name="swaMessageEncoding"
             type="Boissonnot.Framework.Core.WebServices.Soap.SoapWithAttachments.SwaMessageEncodingElement, Boissonnot.Framework.Core.WebServices.Soap" />
      </bindingElementExtensions>
    </extensions>
    <bindings>
      <basicHttpBinding>
        <binding name="SlsServiceWSSoapBinding" messageEncoding="Mtom" maxReceivedMessageSize="1000000" bypassProxyOnLocal="true" useDefaultWebProxy="true">
          
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>

      </wsHttpBinding>

      <!--
        HTTP-based binding configuration with the Soap-With-Attachments 
        custom message encoding configured. You need to perform this configuration
        manually after you have added a Service Reference with Visual Studio or
        svcutil.exe from the .NET Framework SDK!
      -->
      <customBinding>
        <binding name="SwaBindingConfiguration">
          <swaMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <httpTransport maxReceivedMessageSize="62914560" authenticationScheme="Anonymous"
            maxBufferSize="62914560" proxyAuthenticationScheme="Anonymous"
            useDefaultWebProxy="true">
            <extendedProtectionPolicy policyEnforcement="Never" />
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="le webservice"
          binding="customBinding" bindingConfiguration="SwaBindingConfiguration"
          contract="ServiceV3WS" name="SlsServiceWSPort" />
    </client>
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="SlsServiceWSPort"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData= "c:\log\Traces.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

</configuration>